/* @font-face {
    font-family: newFont;
    src: url(ASSETS/FONTS/ogFont.ttf) format('truetype'),url(ASSETS/FONTS/ogFont.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: otherFont;
    src: url(ASSETS/FONTS/Alkhemikal.ttf) format('truetype'),url(ASSETS/FONTS/Alkhemikal.ttf) format('truetype');
    font-weight: 400;
    font-display: swap;
} */

#timeBar, #timeBarBack
{
    background-color: #e09ed2;
    position: absolute;
    left: 31%;
    width: 68%;
    height: 10%;
}
#timeBarBack
{
    background-color: #222222dd;
}

#logo {
    position:fixed;
    bottom: 0%;
    right: 0%;
    width: 20%;
    filter: opacity(50%);
}
#backIm
{
    background-color: rgba(52, 52, 52, 0.65);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -1;
}

button.play1 {
    font-family: Arial sans-serif;
    font-size: 2vw;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    background: rgba(52, 52, 52, 255);
    position: relative;
    z-index: 0;
    border-radius: 3px;
    margin: 3px;
    width: 30%;
    padding-top: 1em;
    padding-bottom: 1em;
}
button.play1:hover {
    background: rgba(20, 20, 20, 255);
}
button.play1:active {
    background: rgba(100, 100, 100, 255);
}

button.play2 {
    font-family: Arial sans-serif;
    font-size: 300%;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: #fff;
    background-color:transparent;
    position:fixed;
    top:0px;
    left:31%;
    width: 69%;
    bottom:0px;
}


#patFinnLeft {
    position: fixed;
    width: 25%;
    right: 35%;
    bottom: 0%;

}
#patFinnRight {
    position: fixed;
    width: 25%;
    right: 10%;
    bottom: 0%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#patFinnFace {
    position: fixed;
    width: 50%;
    right: 10%;
    bottom: 0%;
}

#GameOverBoxId
{
    z-index: 5;
    background-color: #ffffff;
    position: fixed;
    left: 45%;
    width: 40%;
    top: 20%;
    outline: 10px solid rgb(52,52,52);
    text-align: center;
    display: none;
}

html {
    font-family: otherFont, Arial sans-serif;
    /* background-image: url("ASSETS/iconSVG.svg"); */
    background-size: 100%;
    color: rgb(52, 52, 52);
}

aside {
    font-family: newFont, Arial sans-serif;
    font-size: 100%;
    padding:1%;
    background-color: #b470b099;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    top: 1%;
    left: 1%;
    width: 29%;
    bottom:1%;
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-family: newFont, Arial sans-serif;
    color: #f091ea;
    display: inline;
}
p{
    font-size: 1.5em;
}


@media screen and (orientation:portrait) {
    aside {
        font-family: newFont, Arial sans-serif;
        position: fixed;
        text-align: left;
        top:0px;
        left:0px;
        width: 100%;
        height: 25%;
    }
    h2
    {
        float: right;
    }
    .hideInProt
    {
        display: none;
    }
    #textId
    {
        float: left;
    }
    
    #GameOverBoxId
    {
        left: 10%;
        width: 80%;
        top: 30%;
        padding: 0px;
    }
    
    button.play1 {
        font-size: 5vw;
        text-transform: uppercase;
    }

    #timeBar, #timeBarBack
    {
        left: 16%;
        width: 68%;
        height: 10%;
        top:27%
    }
}
